accelerate==1.2.1
albumentations==1.4.15
anime_face_detector==0.0.9
bitsandbytes==0.45.0
dadaptation==3.2
diffusers==0.32.2
einops==0.8.1
fairscale==0.4.13
huggingface_hub==0.27.1
image_processor==0.1.1
k_diffusion==0.1.1.post1
lion_pytorch==0.2.3
lpips==0.1.4
lycoris_lora==1.8.3
numpy==2.2.3
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
optimum_quanto==0.2.4
oyaml==1.0
packaging==24.2
Pillow==11.1.0
pipeline_utils==0.0.2
prodigyopt==1.1.1
pydantic==2.10.6
python-dotenv==1.0.1
PyYAML==6.0.2
PyYAML==6.0.2
regex==2024.11.6
Requests==2.32.3
safetensors==0.5.3
sageattention==1.0.6
setuptools==75.1.0
tensorflow==2.19.0
timm==1.0.15
toml==0.10.2
torch==2.5.1
torch_xla==2.6.0
torchvision==0.20.1
tqdm==4.67.1
transformers==4.49.0
typing_extensions==4.12.2
voluptuous==0.15.2
wandb==0.19.8
xformers==0.0.29.post3
